html {
	width: 266px;
	height: 236px;
}

body {
	width: 230px;
	height: 200px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #563c12;
	font-size: 90%;
	padding:10px;
}

.title {
	color:#5C9FC0;
	font-size: 1.2em;
	margin-left: 55px;
	margin-right: auto;
	padding-bottom: 20px;
}

.whenNotLoggedIn input[type=button] {
	margin-left: 15px;
	margin-top: 13px;
}

.login, .logout, .syncButton, .saveState, .showStates, .togglePause {
	border-radius: 4px;
	border: 1px solid #5C9FC0;
	background:#5C9FC0;
	color:white;
	margin: 12px;
	cursor: pointer;
}

.options {
	margin-top: 10px;
}

.syncButton, .togglePause {
 	border: 1px solid white;
 	background: white;
 	color: #563c12;
 	text-decoration: underline;
 	margin: 6px;
 	margin-left: 4px;
}

.pause {
    width: 150px;
    float: left;
}

.togglePause {
    float: left;
    margin-left: 55px;
}

.result {
	font-size: 75%;
	color:#96324B;
}

.loggedInUser p {
	float: left;
	margin-left:30px;
}


.syncText {
	font-size: 75%;
}

.signup {
	margin:15px;
	font-size: 75%;
	float:left;
	cursor: pointer;
}

.merge {
	margin-top:15px;
	margin-left:15px;
	font-size:75%;
	float:left;
}

.checkbox {
	margin-top:16px;
	margin-left:5px;
	margin-right:16px;
	float:left;
}

.whenNotLoggedIn {
	position: relative;
}

.whenNotLoggedIn div {
	padding: 3px;
}

.inputText input {
	position: absolute;
	right:0;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.inputText {
	font-weight: bold;
	font-size: 1em;
}

.states {
	width: 170px;
	float: left;
	margin-top: 15px;
	margin-left: 28px;
}

.saveState {
    float:left;
    margin: 0px;
}

.showStates {
    float: right;
    margin: 0px;
}