body {
	width: 230px;
	height: 150px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #563c12;
	font-size: 90%;
	padding:10px;
}

.title {
	color:#5C9FC0;
	font-size: 1.2em;
	margin-left: 55px;
	margin-right: auto;
	padding-bottom: 20px;
}

.whenNotLoggedIn input[type=button] {
	margin-left: 15px;
	margin-top: 13px;
}

.login, .logout, .fail {
	border-radius: 4px;
	border: 1px solid #5C9FC0;
	background:#5C9FC0;
	color:white;
	margin: 12px;
	float:left;
	cursor: pointer;
}

.fail {
	margin-top:0px;
	border: 1px solid #872020;
	background: #872020;
	font-size: 50%;
}

.result {
	font-size: 75%;
	color:#96324B;
}

.loggedInUser p {
	float: left;
	margin-left:30px;
}

.loggedInUser input {
	float:right;
	margin-right:30px;
}

.failText {
	font-size: 75%;
}

.signup {
	margin:15px;
	font-size: 75%;
	float:left;
	cursor: pointer;
}

.merge {
	margin-top:15px;
	margin-left:15px;
	font-size:75%;
	float:left;
}

.checkbox {
	margin-top:16px;
	margin-left:5px;
	margin-right:16px;
	float:left;
}

.whenNotLoggedIn {
	position: relative;
}

.whenNotLoggedIn div {
	padding: 3px;
}

.inputText input {
	position: absolute;
	right:0;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.inputText {
	font-weight: bold;
	font-size: 1em;
}