body {
	-webkit-box-shadow: #AAA 0px 0px 9px;
	height: 285px;
	width: 320px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #563c12;
	font-size: 90%;
	padding:10px;
	margin-top:50px;
}

.title {
	color:#115F9E;
	font-size: 2em;
	margin-left: 55px;
	margin-right: auto;
	padding-bottom: 30px;
}

.signup {
	position: relative;
}

.signup div{
	padding:3px;
}

.inputText input {
	position: absolute;
	right:0;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.promise {
	font-size: 70%;
	margin-top:5px;
	margin-left:10px;
}

.inputText {
	font-weight: bold;
	font-size: 1.4em;
}

.submit {
	margin-left: 120px;
	margin-top:8px;
}

.result {
	margin-left:10px;
	height:15px;
	color:#96324B;
	font-size:75%;
}