.metadata/*
bfc backend google app engine/.metadata/*
bfc backend google app engine/.settings/*
chrome extension.pem
chrome_extension.zip
eval-extension/formulas for csv.txt
eval-extension/js/UserPassAndURL.txt
eval-extension/usernames and passes.csv
screencast_text.txt