<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Bfc_backend_google_app_engine</servlet-name>
		<servlet-class>backend.Bfc_backend_google_app_engineServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReceiveData</servlet-name>
		<servlet-class>backend.ReceiveData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendData</servlet-name>
		<servlet-class>backend.SendData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Bfc_backend_google_app_engine</servlet-name>
		<url-pattern>/bfc_backend_google_app_engine</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReceiveData</servlet-name>
		<url-pattern>/ReceiveData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendData</servlet-name>
		<url-pattern>/SendData</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
